@import "/node_modules/normalize.css/normalize.css";

:root {
  /**Variables*/
  --header: #335C67;
  --contentcolor-light: #B6CB9E;
  --contentcolor: #92B4A7;
  --footer: #412234;
  --soft-text: #fff3b0;
  --buttoncolor: #8C7051;
}

* {
  font-family: 'Montserrat', sans-serif;
}

/*Position Debugging Block* 
header,
footer,
div {
  border: solid 2px red;
}
/**/

/***Wrapper + header|footer ****/
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***END_OF__Wrapper_+_header|footer_****/

/**Content***/

.content {
  padding: 15px;
  flex: 1;
  background: linear-gradient(45deg,
      var(--header) 0%,
      var(--footer) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.box {
  border: 2px solid var(--header);
  background-color: var(--contentcolor-light);
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  gap: 10px;
}

.box input {
  background-color: aliceblue;
  border: 2px solid var(--footer);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
}

.box button:hover {
  background-color: var(--footer);

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.nav {
  display: flex;
  border: 3px solid var(--footer);
  border-radius: 3em;
  background-color: var(--buttoncolor);
  gap: 3px;
}

form button {
  align-content: end;
}

a,
form button,
.nav button {
  text-decoration: none;
  color: var(--soft-text);
  font-weight: 700;
  padding: 4px 10px;
  margin: 0;
}

form button,
.nav button {
  border: solid 2px var(--footer);
  border-radius: 3em;
  background-color: var(--buttoncolor);

}

.nav button:hover {
  flex: 1;
}

.nav button {
  border: none;
  margin: 0;
}

.border {
  background-color: var(--contentcolor);
  width: 100%;
  height: 2px;
}



/**END_OF_Content**/

/********Header********/
header {
  background-color: var(--header);
  border-bottom: 2px solid var(--footer);
  padding: 15px;
}

header>h1 {
  font-weight: bolder;
  flex: 1;
  align-self: center;
}

.account-wrapper {
  justify-self: flex-end;
}

/********End_Header****/


/********Footer****/
footer {
  border-top: solid 2px var(--header);
  padding: 15px;
  background-color: var(--footer);
}

footer h4 {
  margin: 0;
  color: var(--soft-text);
  align-self: center;
}

/******Footer_End****/

/*****Error_page****/
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/*****Error_end*****/