@import "/node_modules/normalize.css/normalize.css";

:root {
  /**Variables*/
  --header: #4343bd;
  --contentcolor-light: #8787d0;
  --contentcolor: #252558;
  --footer: #9278fa;
  --soft-text: #7d6141;
}

* {
  font-family: 'Montserrat', sans-serif;
}

/*** Position Debugging Block
header,
footer,
div {
    border: solid 2px red;
}***/

/***Wrapper + header|footer ****/
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

header,
footer {
  display: flex;
  justify-content: center;
}

/***END_OF__Wrapper_+_header|footer_****/

/**Content***/

.content {
  padding: 15px;
  flex: 1;
  background: linear-gradient(45deg,
      var(--contentcolor) 0%,
      var(--contentcolor-light) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box {
  border: 2px solid var(--header);
  background-color: var(--contentcolor-light);
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  gap: 20px;
}

.box input {
  background-color: aliceblue;
  border: 2px solid var(--header);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
}

.box button:hover {
  background-color: #ddd;
}

.box button.active {
  background-color: #ccc;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

form button,
.nav button {
  color: #ddd;
  border: solid 2px #1c1c5e;
  border-radius: 3em;
  background-color: #2d2d5c;

}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  text-decoration: none;

}

/**END_OF_Content**/

/********Header********/
header {
  background-color: var(--header);
  border-bottom: 2px solid var(--footer);
}

header>h1 {
  font-weight: bolder;
}

/********End_Header****/


/********Footer****/
footer {
  border-top: solid 2px var(--header);
  padding: 15px;
  background-color: var(--footer);
}

footer h4 {
  margin: 0;
  color: var(--soft-text);
}

/******Footer_End****/

/*****Error_page****/
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/*****Error_end*****/